@page "/favoritas"

@using GestorConciertos.Shared
@using GestorConciertos.Services
@using GestorConciertos.Shared.DataApi
@inject ICancionFavoritaManager cancionFavoritaManager
@inject NavigationManager Navigation

<label> @cargando</label>
<label> @error</label>

@if (favoritas != null && favoritas.Any())
{
    <div>
        <RadzenButton Icon="add" Text="Crear Cancion" Click="CrearFavorita" />
        <label> Canciones Favoritas @favoritas.Count()</label>

        <div class="row">
            @foreach (Cancion item in favoritas)
            {
                <CompCancionFavorita cancion="@item" />
            }
        </div>
    </div>
}


@code {
  
    private string error { get; set; }
    private string cargando { get; set; }
    public List<Cancion> favoritas { get; set; }

    protected override Task OnInitializedAsync()
    {
        favoritas = cancionFavoritaManager.GetCancionesFavoritas();
        return base.OnInitializedAsync();
    }

    private async void CrearFavorita()
    {
        Navigation.NavigateTo($"/EditCancionFavorita/{Guid.NewGuid()}");
    }

}

